[submodule "apps/backend"]
	path = apps/backend
	url = https://github.com/benarso/strapi-app.git
	branch = master
[submodule "apps/frontend"]
	path = apps/frontend
	url = https://github.com/benarso/angular-cleaner-architecture.git
	branch = master
